{% if page %}
  {% set item = page %}
{% elif section %}
  {% set item = section %}
{% else %}
  {% set item = false %}
{% endif %}
{% if item %}
  <link rel="canonical" href="{{ item.permalink | safe }}">
  {% for t in item.translations %}
    <link rel="alternate"
          hreflang="{{ t.lang }}"
          href="{{ t.permalink | safe }}">
  {% endfor %}
  {% set default_url = item.permalink %}
  {% if item.lang != config.default_language %}
    {% for t in item.translations %}
      {% if t.lang == config.default_language %}
        {% set_global default_url = t.permalink %}
      {% endif %}
    {% endfor %}
  {% endif %}
  <link rel="alternate" hreflang="x-default" href="{{ default_url | safe }}">
{% endif %}
